<md-card> <md-card-content>
<div class="row">
	<div class="col-md-3 col-xs-3"></div>
	<div
		class="col-md-6 col-xs-6"
		style="text-align: center; margin-left: -20px">
		<img
			md-card-avatar
			class="img-responsive"
			style="width: 170px; height: 170px"
			src="https://pbs.twimg.com/profile_images/716487122224439296/HWPluyjs.jpg" />
		<md-card-header>
		<h4
			style="width: 100%; text-align: center; margin-left: -20px; word-wrap: break-word">{{employee?.firstName}}&nbsp;{{employee?.middleName}}&nbsp;{{employee?.lastName}}</h4>
		</md-card-header>
		<h5 style="word-wrap: break-word">
			<small>Designation: </small>
			{{employee?.designation}}
		</h5>
		<h5 style="word-wrap: break-word" *ngIf="department">
			<small>Department: </small>
			{{department['deptName']}}
		</h5>
		<h5
			style="word-wrap: break-word"
			*ngIf="user && user['genderVisible']===1">
			<small>Gender: </small>
			{{gender[+employee?.gender]}}
		</h5>
		<h5
			style="word-wrap: break-word"
			*ngIf="user && user['dobVisible']===1">
			<small>DOB: </small>
			{{employee?.dob | date:"dd-MMM-yyyy"}}
		</h5>
		<h5 style="word-wrap: break-word">
			<small>Joined on: </small>
			{{employee?.joiningDate | date:"dd-MMM-yyyy"}}
		</h5>
		<h5
			style="word-wrap: break-word"
			*ngIf="employee?.leavingDate">
			<small>Left on: </small>
			{{employee?.leavingDate | date:"dd-MMM-yyyy"}}
		</h5>
		<h5 style="word-wrap: break-word">
			<small>Phone: </small>
			{{employee?.phoneNumber}}
		</h5>
		<h5
			style="word-wrap: break-word"
			*ngIf="employee?.addresses[0]">
			<small>Address: </small>
			<p>{{employee?.addresses[0].line1}},
				{{employee?.addresses[0].line2}},
				{{employee?.addresses[0].city}}-{{employee?.addresses[0].pincode}},
				{{employee?.addresses[0].state}}, {{employee?.addresses[0].country}}</p>
		</h5>
		<br />
		<div *ngIf="projects[0]">
			<h5 style="word-wrap: break-word">
				<b>Projects:</b>
			</h5>
			<ul style="list-style-type: none; padding-left: 0px; cursor: pointer">
				<li *ngFor="let project of projects">
					<a>{{project['title']}}</a>
				</li>
			</ul>
		</div>

		<br />
		<div *ngIf="clients[0]">
			<h5 style="word-wrap: break-word">
				<b>Clients:</b>
			</h5>
			<ul style="list-style-type: none; padding-left: 0px; cursor: pointer">
				<li *ngFor="let client of clients">
					<a>{{client['name']}}</a>
				</li>
			</ul>
		</div>
	</div>
	<div class="col-md-3 col-xs-3"></div>
</div>

</md-card-content> </md-card>

